
build/app.js
build/backend/controllers/application.controller.js

node_modules/**/*

combined.log

yarn.lock

bun.lockb

package-lock.json
.env

.idea/**/*

.DS_Store


# Logs


build/**/*
combined.log
