
build/app.js
build/backend/controllers/application.controller.js

node_modules/**/*

logs/combined.log

yarn.lock

bun.lockb

package-lock.json
.env

.idea/**/*

.DS_Store


# Logs


build/**/*
logs/combined.log
logs/combined.log
logs/combined.log
error.log
