<tr style="border-collapse:collapse">
   <td align="center" height="24" style="padding:0;Margin:0"></td>
</tr>
<tr style="border-collapse:collapse">
   <td
      align="left"
      style="padding:0;Margin:0"
   ><!--[if mso]><a

href="{{ domain }}/verify/email/{{ token}}"
target="_blank" hidden>
                                <v:roundrect xmlns:v="urn:schemas-microsoft-com:vml"
                                             xmlns:w="urn:schemas-microsoft-com:office:word" esdevVmlButton href="#"
                                             style="height:46px; v-text-anchor:middle; width:132px" arcsize="9%"
                                             stroke="f" fillcolor="#3c23cc">
                                    <center
                                        style='color:#ffffff; font-family:-apple-system, "system-ui", "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; font-size:14px; font-weight:700; line-height:14px; mso-text-raise:1px'>
                                        Verify Email
                                    </center>
                                </v:roundrect>
                            </a>
                                <![endif]--><!--[if !mso]><!-- --><span
         class="msohide es-button-border"
         style="border-style:solid;border-radius: 20px;border-color:#0750d7;background:#0750d7;border-width:0px;display:inline-block;border-radius:4px;width:auto;mso-hide:all"
      ><a
            href="{{domain}}/verify/email/{{token}}"
            class="es-button es-button-1"
            target="_blank"
            style="mso-style-priority:100 !important;text-decoration:none;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;mso-line-height-rule:exactly;color:#FFFFFF;font-size:14px;border-style:solid;border-color:#0750d7;border-width:15px 25px;display:inline-block;background:#0750d7;border-radius:4px;font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';font-weight:bold;font-style:normal;line-height:17px;width:auto;text-align:center"
         >Verify Email</a></span>
      <!--<![endif]--></td>
</tr>
<tr style="border-collapse:collapse">
   <td align="center" height="24" style="padding:0;Margin:0"></td>
</tr>




